.personal-data-fields-container {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    width: 100%;
    box-shadow: 0 3px 5px grey, 0 0 2px grey, 0 1px 4px grey !important;
}

.personal-data-field{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.personal-data-field > p {
    width: 15%;
    font-size: 25px !important;
    font-weight: bold;
}

.personal-data-field .p-inputtext, .personal-data-field .p-calendar, .personal-data-field .p-dropdown, .personal-data-field span {
    width: 80%;
    font-size: 25px !important;
}

.personal-data-field-data .p-dropdown-trigger-icon {
    width: 100%;
    font-size: 25px;
}

.personal-data-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.personal-data-submit-button {
    font-size: 25px;
    padding: 10px 50px;
    margin-top: 30px;
}

