.profile-container {
    width: 100%;
}

.profile-container .p-tabview {
    width: 100%;
}

.profile-container .p-tabview-nav {
    padding-bottom: 1em;
    padding-top: 0.5em;
    overflow:auto;
}

.profile-container .p-tabview-nav-link {
    background-color: #19616b !important;
    color: white !important;
    font-size: 1.5em !important;
    border: none !important;
    border-radius: 0 !important;
}

.profile-container .p-tabview-panels {
    padding: 0;
    margin-top: 0.5em;
}

.profile-container .p-tabview-nav .p-tabview-selected .p-tabview-nav-link {
    background-color: orangered !important;
    border: none;
}

.profile-container .p-unselectable-text:first-of-type {
    /*margin-left: 0.5em !important;*/
}
