.profile-picture-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5d5d5d;
    border-radius: 15px;
    width: 35em;
}

.profile-picture-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 2em 0 1em 0;
    border-bottom: 3.5em solid white;
    border-left: 2.5em solid white;
    border-right: 2.5em solid white;
    border-radius: 15px;
}

.profile-picture-image-container .p-image img , .profile-picture-image-container .p-image-preview-indicator{
    height: 20em !important;
    width: 20em !important;
    border-radius: 50%;
}

.profile-picture-image-container .p-button-icon {
    font-size: 3em;
}

.profile-picture-image-container > span {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: -1em;
}

.profile-picture-image-container > span > button:first-of-type {
    padding: 3em !important;
    margin-top: 1em !important;
    border: none !important;
    box-shadow: none !important;
    background-color: green !important;
    margin-left: -3em;
    z-index: 3;
    font-size: 0.5em;
    height: 1em;
    width: 1em;
}

.profile-picture-image-container > span > button:first-of-type:hover {
    background-color: darkgreen !important;
}

.profile-picture-image-container > span > button:last-of-type {
    padding: 3em !important;
    margin-top: 1em !important;
    border: none !important;
    box-shadow: none !important;
    background-color: red !important;
    margin-right: -3em;
    z-index: 3;
    font-size: 0.5em;
    height: 1em;
    width: 1em;
}

.profile-picture-image-container > span > button:last-of-type:hover {
    background-color: darkred !important;
}

.profile-picture-button-container {
    display: flex;
    justify-content: center;
}

.profile-picture-button-container button {
    margin: 0.5em 0.5em 1em 0.5em;
    font-size: 1.7em;
    border: none !important;
    box-shadow: none !important;
    padding: 0.5em;
}