.professional-data-field-container {
    background-color: #19616b;
    color: white;
    font-weight: bold;
    display: flex;
    margin: auto;
    border-radius: 0.5em;
    overflow: auto;
}

.professional-data-fields {
    width: 100%;
}

.professional-data-field {
    margin-left: 5vh;
    margin-right: 5vh;
}

.professional-data-field-data {
    display: flex;
    align-items: center;
}

.professional-data-field-data > p {
    width: 80%;
    font-size: 2.5vh !important;
    font-weight: bold;
}

.professional-data-field-data > span {
    width: 80%;
}


.professional-data-field-data .p-inputtext {
    width: 100%;
    font-size: 2.5vh !important;
    border: none !important;
}

.professional-data-field-data > span > .p-dropdown {
    width: 100%;
    font-size: 2.5vh !important;
    border: none;
}

.professional-data-field-data .p-dropdown-trigger-icon {
    width: 100%;
    text-align: right;
    margin-right: 1vh;
    font-size: 2.5vh;
}

.professional-data-field-data > span > .p-inputwrapper-focus {
    box-shadow: 0 0 1px 1px orangered !important;
    border: none !important;
    font-size: 2.5vh !important;
}

.professional-data-field-data > span .p-multiselect {
    width: 100%;
    color: black;
    font-size: 2.5vh !important;
    border: none !important;
}

.professional-data-field-data .p-multiselect-trigger-icon {
    width: 100%;
    text-align: right;
    margin-right: 1vh;
    font-size: 2.5vh;
}

.professional-data-field-data .p-multiselect-label {
    white-space: pre-line;
}

.professional-data-field-data .ql-editor{
    font-size: 2.2vh !important;
}

.professional-data-field-data .ratings {
    height: 25vh;;
    display: flex;
    align-items: center;
}

.professional-data-field-data > div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    height: 20vh;
    overflow: auto;
}

.professional-data-field-data > div > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.professional-data-field-data > div > div > span {
    font-size: 17vh;
    color: #19616b;
    font-family: "Calibri, sans-serif", serif;
}

.professional-data-field-data > div > div > div p {
    color: black;
    text-align: center;
    font-size: 2.5vh;
    margin-bottom: 0;
    font-style: italic;
    font-weight: normal;
}

.professional-data-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.professional-data-submit-button {
    margin: 5vh 0 2vh 0;
    padding: 3vh 4vh;
    font-size: 3.5vh;
}

.sign-up-error {
    color: orange;
}