.profile-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1120px;
    border-radius: 15px;
    background-color: white;
    margin: 30px auto;
    overflow: auto;
}

.profile-container button {
    box-shadow: none !important;
    border: none !important;
}

.profile-container > p {
    font-size: 50px;
    font-family: Georgia, Times New Roman, sans-serif;
    margin: 20px 0;
}

.profile-container .content {
    width: 95%;
}

.profile-container .p-tabview {
    background-color: yellowgreen;
    width: 100%;
}

.profile-container .p-tabview-nav {
    padding: 10px 10px 10px 0;
}

.profile-container .p-tabview-nav-link {
    background-color: #212121 !important;
    color: white !important;
    font-size: 25px !important;
    border: none !important;
    border-radius: 0 !important;
}

.profile-container .p-tabview-nav-link:hover {
    text-decoration: underline;
}

.profile-container .p-tabview-nav .p-tabview-selected .p-tabview-nav-link {
    background-color: #507705 !important;
    text-decoration: underline;
    border: none;
}