.timetable-container .p-datatable-table{
    table-layout: fixed !important;
    width: 3vw;
}

.timetable-container th div{
    display:flex;
    justify-content: center;
}

.timetable-container th:first-of-type div{
    display:flex;
    justify-content: left;
}

.timetable-container th div span{
    font-size: 1.2vw;
}

.time-interval-span {
    font-size: 1.1vw;
    font-family: "Calibri, sans-serif", serif;
}

.timetable-container td {
    width: 100% !important;
}

.timetable-container td button {
    width: 100% !important;
}

.timetable-container td button .p-button-label {
    display:flex !important;
    justify-content:center !important;
    align-items: center !important;
    width: 100% !important;
    font-size: 1.2vw;
}