.tutor-advertisement-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #19616b;
}

.tutor-advertisement-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 1em;
}

.tutor-advertisement-field:nth-of-type(4) {
    margin-top: 1em;
    margin-bottom: 2.8em;
}

.tutor-advertisement-field > p, .tutor-advertisement-timetable >p {
    font-size: 1.2em;
    font-weight: bold;
    width: 30%;
}

.tutor-advertisement-field > div {
    width: 70%;
}

.tutor-advertisement-container .p-inputtext,.tutor-advertisement-container .p-dropdown,.tutor-advertisement-container .p-inputnumber,.tutor-advertisement-container .p-multiselect {
    width: 100%;
}

.tutor-advertisement-container .p-inputwrapper-focus, .tutor-advertisement-container .p-inputtext:enabled:focus{
    box-shadow: 0 0 2px 2px orangered !important;
    border: none !important;
}

.tutor-advertisement-timetable-button {
    width: 50%;
    margin: auto;
    font-size: 1.2em;
    font-weight: bold;
}

.tutor-advertisement-container > span {
    display:flex;
    align-items: center;
    width: 90%;
    font-size: 1.2em;
    font-weight: bold;
}

.tutor-advertisement-container > span > p {
    padding-bottom: 0.1em;
    margin-right: 1em;
}

.tutor-advertisement-container .p-checkbox .p-checkbox-box:not(.p-disabled).p-focus{
    border:none !important;
    box-shadow: none !important;
}

.tutor-advertisement-container .p-checkbox .p-checkbox-box.p-highlight {
    background-color: orangered;
    border: none !important;
}

.tutor-advertisement-container .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background-color: orangered;
}

.tutor-advertisement-container .p-checkbox-icon{
    margin:auto;
}

.tutor-advertisement-button-div {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 2em;
}

.tutor-advertisement-button-div > button {
    padding: 0.8em;
    width: 10em;
    font-size: 1.6em;
}

.tutor-advertisement-container .p-editor-content {
    font-size: 20px;
}

.tutor-advertisement-timetable {
    width: 90%;
}

