.timetable-content .p-datatable-table{
    table-layout: fixed !important;
    width: 3vw;
}

.timetable-content th div{
    display:flex;
    justify-content: center;
}

.timetable-content th:first-of-type div{
    display:flex;
    justify-content: left;
}

.timetable-content th div span{
    font-size: 20px;
}

.timetable-content .partoftheday-span {
    font-size: 18px;
    font-family: "Calibri, sans-serif", serif;
}

.timetable-content td button {
    margin: auto;
    display: flex;
    justify-content: center;
}

.timetable-content .p-disabled {
    opacity: 1;
}
