.form .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin: 3% auto;
    background-color: #252525;
}

.form .card-name {
    text-align: center;
    color: #DEDEDE;
    font-size: 1.5em;
}

.form .card-content {
    text-align: center;
    font-size: 1em;
    margin: 5%;
}

.form .card-field {
    margin-bottom: 1.5em;
}

.form .card-field-error {
    text-align: left;
    color: #ef9a9a;
    margin: 0.2em 0.2em;
}

.form .card-button {
    font-size: 1.5em;
    padding: 0.5em;
}

.form .card-auth-error {
    text-align: center;
    font-size: 1em;
    color: #ef9a9a;
    padding-top: 1em;
}

@media screen and (max-width: 960px) {
    .form .card {
        max-width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .form .card {
        max-width: 80%;
    }
}