.main-container {
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: white;
    margin: 30px auto;
    border-radius: 15px;
}

.main-container .filter-container {
    width: 20%;
    height: 600px;
    margin: 2em;
    border: 3px solid #19616b;
    background-color: #eaf1fa;
}

.main-container .filter-container > div {
    margin: 1em;
}

.main-container .filter-container-header {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
}

.main-container .filter-container-header >p {
    font-weight: bold;
}

.main-container .filter-container .filter-container-name input{
    width: 100%
}

.main-container .filter-container .filter-container-subjects .p-dropdown{
    width: 100%
}

.main-container .filter-container .filter-container-timetable .p-multiselect{
    width: 100%
}

.main-container .datatable-container {
    width: 80%;
    margin: 2em;
}

.main-container table {
    table-layout: fixed !important;
    border-collapse: separate;
    border-spacing: 0 30px;
}

.main-container .p-column-header-content {
    display:flex;
    justify-content: center;
}

.main-container tbody tr {
    background-color: #ffe8df;
    background-image: linear-gradient(to right, #ffe8df, #fa906d) !important;
}

.main-container tbody td {
    height: 200px !important;
    padding: 6px !important;
    border-top: 2px solid orangered !important;
    border-bottom: 2px solid orangered !important;
}

.main-container tbody td:first-of-type {
    border-left: 2px solid orangered !important;
}

.main-container tbody td:last-of-type {
    border-right: 2px solid orangered !important;
}

.main-container thead th, .main-container .p-paginator-bottom {
    border-bottom: 2px solid #19616b !important;
}

.main-container tbody .picture-and-profile-template-td {
    width: 15% !important;
}

.main-container tbody .picture-and-profile-template-td > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container tbody .picture-and-profile-template-td img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.main-container tbody .picture-and-profile-template-td .p-image-preview-indicator {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.main-container tbody .name-and-subjects-body-template-td {
    width: 40%;
}

.main-container tbody .name-and-subjects-body-template-td > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container tbody .name-and-subjects-body-template-td > div > p:first-of-type {
    height: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-container tbody .name-and-subjects-body-template-td > div > p:last-of-type {
    height: 30px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main-container tbody .name-and-subjects-body-template-td .p-chips {
    height: 117px;
}

.main-container tbody .name-and-subjects-body-template-td .p-chips-multiple-container {
    height: 117px;
    width: 100%;
    overflow: auto;
    border: 3px solid #19616b;
    align-items: flex-start;
}

.main-container tbody .name-and-subjects-body-template-td .p-chips-token {
    background-color: #19616b;
    color: white;
    font-size: 17px;
    margin-top: 0.2rem;
}

.main-container tbody .lessons-body-template-td {
    width: 15%;
    /*background-color: #fdc9b3;*/
}

.main-container tbody .lessons-body-template-td > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container tbody .lessons-body-template-td > div > div {
    margin: 0 auto;
}

.main-container tbody .lessons-body-template-td > div img {
    height: 102px;
    width: 121px;
}

.main-container tbody .lessons-body-template-td .p-badge{
    font-size: 25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    background-color: yellowgreen;
    color: darkgreen;
}

.main-container tbody .rating-body-template-td {
    width: 15%;
    /*background-color: #fdc9b3;*/
}

.main-container tbody .rating-body-template-td > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container tbody .rating-body-template-td > div > div {
    margin: 0 auto;
}

.main-container tbody .rating-body-template-td > div img {
    height: 102px;
    width: 114px;
}

.main-container tbody .rating-body-template-td .p-badge{
    font-size: 25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    background-color: orangered;
    color: yellow;
}

.main-container tbody .hourly-rate-body-template-td {
    width: 15%;
    /*background-color: #fdc9b3;*/
}

.main-container tbody .hourly-rate-body-template-td > div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-container tbody .hourly-rate-body-template-td > div > div {
    margin: 0 auto;
}

.main-container tbody .hourly-rate-body-template-td > div img {
    height: 102px;
    width: 102px;
}

.main-container tbody .hourly-rate-body-template-td .p-badge{
    font-size: 25px;
    height: 75px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 4px 2px 4px;
    background-color: rebeccapurple;
    color: white;
}
