.main-container {
    display: flex;
    justify-content: center;
    width: 1300px;
    background-color: white;
    margin: 30px auto;
    border-radius: 15px;
}

.main-container button {
    border: none !important;
    box-shadow: none !important;
}

.main-container .filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 600px;
    margin: 30px;
    border: 3px solid #212121;
    background-color: #fafafa
}

.main-container .filter-container > div {
    width: 95%;
}

.main-container .filter-container > div > p {
    font-size: 20px;
}

.main-container .header-div {
    text-align: center;
}

.main-container .header-div > p {
    font-weight: bold;
    font-size: 25px !important;
}

.main-container .filter-container .name-div input {
    width: 100%;
    overflow: hidden;
}

.main-container .filter-container .subjects-div .p-dropdown {
    width: 100%;
    overflow: hidden;
}

.main-container .filter-container .timetable-div .p-multiselect {
    width: 100%;
    overflow: hidden;
}

.main-container .filter-container .clear-div {
    margin-top: 20px;
    text-align: center;
}

.main-container .filter-container .clear-div button {
    font-size: 20px;
}

.main-container .datatable-container {
    width: 850px;
    margin: 30px;
    border: 3px solid #212121;
    background-color: #fafafa
}

.main-container .datatable-container .p-datatable-table {
    table-layout: fixed !important;
    width: 100%;
}

.main-container .datatable-container thead .picture-and-profile-template-td:hover {
    cursor: auto;
}

.main-container .datatable-container .p-column-header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.main-container .datatable-container tr {
    background-color: #d8f1d2 !important;
}

.main-container .datatable-container tr:hover {
    background-color: yellowgreen !important;
}

.main-container .datatable-container .p-column-title {
    text-align: center;
}

.main-container .datatable-container tr td {
    padding: 5px;
    border-bottom: 5px solid white;
}

.main-container .datatable-container tr:hover {
    background-color: yellowgreen !important;
}

.main-container .datatable-container .p-column-title {
    text-align: center;
}

.main-container .datatable-container .picture-and-profile-template-td {
    width: 20%;
}

.main-container .datatable-container .picture-and-profile-template-td > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-container .datatable-container .picture-and-profile-template-td img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    border: 1px solid #212121;
}

.main-container .datatable-container .picture-and-profile-template-td .p-image-preview-indicator {
    border-radius: 50%;
    width: 140px;
    height: 140px;
}

.main-container .datatable-container .picture-and-profile-template-td button {
    width: 140px;
    font-size: 20px;
}

.main-container .datatable-container .name-and-subjects-body-template-td {
    width: 45%;
}

.main-container .datatable-container .name-and-subjects-body-template-td > div > p:first-of-type {
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 14px 0;
    font-weight: bold;
}

.main-container .datatable-container .name-and-subjects-body-template-td > div > p:last-of-type {
    font-size: 15px;
    font-weight: bold;
    margin: 1px;
}

.main-container .datatable-container .name-and-subjects-body-template-td .p-chips-multiple-container {
    height: 110px;
    width: 100%;
    overflow: auto;
    border: 2px solid #212121;
    align-items: flex-start;
}

.main-container .datatable-container .name-and-subjects-body-template-td .p-chips-token {
    background-color: #212121;
    color: white;
    font-size: 17px;
    margin-top: 3px;
}

.main-container .datatable-container tbody .hours-held-body-template-td,
.main-container .datatable-container tbody .rating-body-template-td {
    text-align: center;
}

.main-container .datatable-container tbody .hours-held-body-template-td p,
.main-container .datatable-container tbody .rating-body-template-td p {
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .datatable-container tbody .hourly-rate-body-template-td {
    text-align: center;
}

.main-container .datatable-container tbody .hourly-rate-body-template-td p:first-of-type {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-container .datatable-container tbody .hourly-rate-body-template-td p:last-of-type {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

