.datatable-filter .p-paginator .p-paginator-current {
    margin-left: auto;
}
.datatable-filter .p-progressbar {
    height: 0.5rem;
    background-color: #d8dadc;
}
.datatable-filter .p-progressbar .p-progressbar-value {
    background-color: #607d8b;
}
.datatable-filter .p-datepicker {
    min-width: 25rem;
}
.datatable-filter .p-datepicker td {
    font-weight: 400;
}
.datatable-filter .p-datatable.p-datatable-courses .p-datatable-header {
    padding: 1rem;
    text-align: left;
    font-size: 1.5rem;
}
.datatable-filter .p-datatable.p-datatable-courses .p-paginator {
    padding: 1rem;
}
.datatable-filter .p-datatable.p-datatable-courses .p-datatable-thead > tr > th {
    text-align: left;
}
.datatable-filter .p-datatable.p-datatable-courses .p-datatable-tbody > tr > td {
    cursor: auto;
}
.datatable-filter .p-datatable.p-datatable-courses .p-dropdown-label:not(.p-placeholder) {
    text-transform: uppercase;
}

.datatable-title {
    text-align: center;
    font-size: 2.5em;
    margin: 0.4em;
}

.datatable-container {
    margin: 5em;
    text-align:center;
}

.datatable-button {
    display:flex;
    justify-content: center;
}

.datatable-button button {
    font-size: 1.3em;
    padding: 0.5em 1em;
}

.datatable-tutor {
    font-size: 1.5em;
    font-family: "Bahnschrift","Verdana", serif;
    font-weight: bold;
}

.datatable-tutor:hover {
    cursor:pointer;
}

.datatable-container table td{
    font-size: 1.2em;
}

.datatable-container table div{
    display:flex;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
}

.successCourse {
    display: flex;
    justify-content: center;
    color: greenyellow;
    font-size: 2em;
}

.errorCourse {
    display: flex;
    justify-content: center;
    color: orangered;
    font-size: 2em;
}