.navbar-container button {
    border: none !important;
    box-shadow: none !important;
}

.navbar-container .p-menubar {
    height: 60px;
}

.navbar-container .p-menubar-start p {
    color: orangered;
    font-size: 30px;
    margin: 0 20px 0 0;
    padding: 0;
    font-family: "Bahnschrift", sans-serif
}

.navbar-container .p-menubar-end .user-menu .p-button-label {
    font-size: 25px;
}

.navbar-container .p-menubar-end .auth-buttons .p-button-label {
    font-size: 20px;
}

.navbar-container .p-menubar-end .auth-buttons .p-button:first-of-type {
    margin-right: 20px;
}

.navbar-container .nav-menubar .p-menubar-root-list li{
    margin-right: 5px;
    font-size: 20px;
}

.navbar-container .nav-menubar .p-menuitem a{
    border: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.navbar-container .nav-menubar .p-menuitem a:hover{
    background-color: #d8f1d2 !important;
}

.navbar-container .nav-menubar .selected-menu-item {
    background-color: yellowgreen !important;
}

.navbar-container .nav-menubar .selected-menu-item a:hover {
    background-color: yellowgreen !important;
}

