.private-lessons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1300px;
    background-color: white;
    margin: 30px auto;
    border-radius: 15px;
}

.private-lessons-container button {
    border: 0 !important;
    box-shadow: none !important;
}

.private-lessons-container .title {
    font-size: 50px;
    font-family: Georgia, Times New Roman, sans-serif;
    margin: 20px 0;
    text-align: center;
}

.private-lessons-container .p-image img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px solid #212121;
}

.private-lessons-container .p-tag {
    font-size: 14px;
    width: 120px;
}

.private-lessons-container .p-tag-icon {
    font-size: 14px;
}

.private-lessons-container .datatable-container {
    width: 98%;
}

.private-lessons-container .datatable-container .p-datatable-header .p-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.private-lessons-container .datatable-container .picture-and-profile-td div{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.private-lessons-container .datatable-container .picture-and-profile-td div button{
    width: 100px;
}

.private-lessons-container .datatable-container .user-name-td {
    width: 30%;
}

.private-lessons-container .datatable-container .user-name-td p {
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.private-lessons-container .datatable-container .time-td p, .private-lessons-container .datatable-container .date-td p {
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.private-lessons-container .datatable-container .date-td p:last-of-type:first-letter {
    text-transform: uppercase;
}

.private-lessons-container .datatable-container td {
    text-align: center !important;
}

.private-lessons-container .datatable-container td:last-of-type > div {
    display:flex;
    justify-content: space-evenly;
}

.private-lessons-container .datatable-container th div {
    display: flex;
    justify-content: center;
}

.private-lessons-container .p-dropdown {
    width: 75px;
    border-radius: 0;
}



