.profile-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #edf8fa;
    margin: 3em auto;
    border-radius: 1em;
    overflow: auto;
}

.p-fieldset-legend {
    background-color: #19616b !important;
    border-radius: 0.5em !important;
    border: none !important;
    box-shadow: none !important;
}

.p-fieldset-legend a {
    background-color: #19616b !important;
    border-radius: 1em !important;
    border: none !important;
    box-shadow: none !important;
}

.p-fieldset-toggler {
    color: white !important;
}

.p-fieldset-legend-text {
    color: white !important;
}

.profile-header {
    width: 80%;
    font-size: 4em;
    margin: 0.5em auto 0 auto;
    padding: 0.2em 0;
    color: white;
    text-align:center;
    font-family: "Calibri, sans-serif", serif;
    background-color: #19616b;
    border-radius: 0.3em;
}

.profile-fieldset {
    margin: 3em auto;
    width: 80%;
    border-radius: 0.5em;
    box-shadow: 1px 3px 7px 3px #19616b;
    overflow: auto;
}

.profile-content {
    background-color: #CADFE2;
    display: flex;
    margin: auto;
    border-radius: 0.5em;
    overflow: auto;

}

.profile-text-content {
    width: 60%;
}

.profile-text-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

.profile-text-content p {
    font-size: 1.5em;
}

.profile-text-content input {
    width: 50%;
}

.profile-calendar {
    width: 50%;
}

.profile-dropdown {
    width: 50%;
}

.profile-picture-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-stars {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

.profile-stars-text {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    font-style: italic;
}

.profile-stars-number {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10em;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #19616b;
    font-family: "Calibri, sans-serif", serif;
}

.profile-text-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

.profile-multiSelectDiv {
    width: 50%;
}

.profile-multiSelect {
    font-size: 1em;
    width: 100%;
}

.profile-text-row2 div {
    font-size: 0.9em;
}

.profile-text-row3 {
    margin-left: 5em;
    margin-right: 5em;
    text-align: left;
    background-color: transparent;
}

.p-chips-multiple-container {
    background-color: transparent !important;
    border: none !important;
}

.p-chips-token {
    background-color: #19616b !important;
    color: white !important;
    border-radius: 0.3em !important;
    margin-bottom: 0.5em;
}