.profile-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    margin: 3em auto;
    border-radius: 1em;
    overflow: auto;
}

.profile-header {
    width: 60%;
    font-size: 4em;
    margin: 0.5em auto 0 auto;
    padding: 0.2em 0;
    color: white;
    text-align:center;
    font-family: "Calibri, sans-serif", serif;
    background-color: #19616b;
    border-radius: 0.3em;
}

.profile-container .p-tabview {
    width: 90%;
    margin-top: 2em;
}

.p-tabview-nav-link{
    background-color: #19616b !important;
    color: white !important;
    font-size: 1.5em !important;
}

.p-tabview-nav .p-tabview-selected .p-tabview-nav-link {
    background-color: orangered !important;
}

.p-unselectable-text:first-of-type{
    margin-left: 2em !important;
}

.personal-data-field-container {
    background-color: #19616b;
    color: white;
    font-weight: bold;
    display: flex;
    margin: auto;
    border-radius: 0.5em;
    overflow: auto;
}

.personal-data-fields {
    width: 60%;
}

.personal-data-field {
    margin-left: 3em;
    margin-right: 3em;
}

.personal-data-field-data {
    display: flex;
    align-items: center;
}

.personal-data-field p {
    width: 40%;
    font-size: 1.5em !important;
    font-weight: bold;
}

.personal-data-field span {
    width:100%;
}

.personal-data-field .p-inputtext {
    width:100%;
    font-size: 1.5em !important;
    border: none;
    border-radius: 0.2em;
}

.personal-data-field .p-inputtext:focus {
    box-shadow: 0 0 1px 3px orangered !important;
}

.personal-data-button-container {
    width: 100%;
    display:flex;
    justify-content: center;
}

.personal-data-submit-button {
    margin: 1.5em 0 1em 0;
    padding: 1em 1.5em;
    font-size: 2em;
}


.profile-picture-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #19616b;
    border-radius: 0.5em;
    width: 50%;
    overflow: auto;
}

.profile-picture-image-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 3em 0 1em 0;
    border-bottom: 2.45em solid white;
    border-left: 1.75em solid white;
    border-right: 1.75em solid white;
}

.profile-picture-image-container>span {
    display:flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: -1em;
}

.profile-picture-image-container>span>button:first-of-type {
    padding: 1.0em !important;
    margin-top: 0.1em !important;
    border: none !important;
    box-shadow: none !important;
    background-color: green !important;
    margin-left: -1.5em;
    z-index: 3;
}

.profile-picture-image-container>span>button:first-of-type:hover{
    background-color: darkgreen !important;
}

.profile-picture-image-container>span>button:last-of-type {
    padding: 1.0em !important;
    margin-top: 0.1em !important;
    border: none !important;
    box-shadow: none !important;
    background-color: red !important;
    margin-right: -1.5em;
    z-index: 3;
}

.profile-picture-image-container>span>button:last-of-type:hover{
    background-color: darkred !important;
}

.profile-picture-button-container {
    display:flex;
    justify-content: center;
}

.profile-picture-button-container button {
    margin: 0.5em 0.5em 1.5em 0.5em;
    font-size: 1.5em;
    border: none !important;
    box-shadow: none !important;
}


.profile-stars {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
}

.profile-stars-text {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding-top: 1em;
    font-style: italic;
}

.profile-stars-number {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10em;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #19616b;
    font-family: "Calibri, sans-serif", serif;
}

.profile-text-row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3em;
    margin-right: 3em;
}

.profile-multiSelectDiv {
    width: 50%;
}

.profile-multiSelect {
    font-size: 1em;
    width: 100%;
}

.profile-text-row2 div {
    font-size: 0.9em;
}

.profile-text-row3 {
    margin-left: 5em;
    margin-right: 5em;
    text-align: left;
    background-color: transparent;
}

.p-chips-multiple-container {
    background-color: transparent !important;
    border: none !important;
}

.p-chips-token {
    background-color: #19616b !important;
    color: white !important;
    border-radius: 0.3em !important;
    margin-bottom: 0.5em;
}

.error {
    margin: 0.5em 0;
    color:orange;
}