.signUp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: white;
    margin: 3em auto;
    border-radius: 1em;
    overflow: auto;
}

.signUp-header {
    width: 80%;
    font-size: 4em;
    margin: 0.25em auto 0 auto;
    padding: 0.2em 0;
    color: white;
    text-align: center;
    font-family: "Calibri, sans-serif", serif;
    background-color: #19616b;
    border-radius: 0.3em;
}

.signUp-content-container {
    display: flex;
    justify-content: center;
    margin: 2em auto;
    width: 90%;
    border-radius: 0.5em;
    box-shadow: 1px 3px 7px 3px #19616b;
    background-color: white;
}

.signUp-content {
    background-color: #19616b;
    display: flex;
    margin: 0.8em;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    width: 97%;
}

.signUp-field {
    margin: 1em;
}

.signUp-field:first-of-type {
    margin: 1.75em 1em 1em 1em;
}

.signUp-field span {
    width: 100%;
}

.signUp-container .p-inputtext {
    width: 100%;
    font-size: 1.5em !important;
    border: none;
    border-radius: 0.2em;
}

.signUp-container .p-inputtext:focus {
    box-shadow: 0 0 1px 3px orangered !important;
}

.signUp-container .p-password {
    width: 100%;
}

.p-calendar input {
    width: 100% !important;
    font-size: 1.5em !important;
    border-radius: 0.2em !important;
}

.p-datepicker-title {
    margin: auto !important;
    display:flex;
    justify-content: center !important;
    align-items: center !important;
}

.p-datepicker-title .p-dropdown-label {
    font-size: 1.4em !important;
    color:#19616b !important;
    font-weight: bold !important;
    padding: 0 !important;
    margin: 0 !important;
}

.p-datepicker-title .p-dropdown-trigger {
    font-size: 1.4em !important;
    color:#19616b !important;
    font-weight: bold !important;
    padding: 0 !important;
    margin: 0 !important;
}

.p-datepicker-title>div {
    box-shadow: none !important;
}

.p-datepicker-month {
    font-size: 1.4em !important;
    font-weight: bold !important;
    color:#19616b !important;
    padding: 0 !important;
    line-height: 1.4em;
}

.p-datepicker-today span {
    background-color: orangered !important;
    border-radius: 0 !important;
}

.p-datepicker table td > span:hover {
    background-color: #19616b !important;
    color:white !important;
    border-radius: 0 !important;
}

.p-datepicker-calendar tbody tr td .p-highlight {
    background-color: #19616b !important;
    color:white !important;
    border-radius: 0 !important;
}

.p-dropdown {
    width: 100%;
    border-radius: 0.2em !important;
    border: none !important;
    box-shadow: none !important;
}

.p-focus {
    box-shadow: 0 0 1px 3px orangered !important;
}

.p-dropdown-items .p-highlight {
    background-color: transparent !important;
    color:#19616b !important;
    font-weight: bold !important;
}

.signUp-content button {
    display: flex;
    justify-content: center;
    margin: 1em auto;
    text-align: center !important;
    padding: 0.75em 1em;
    width: 50%;
    font-size: 2.5em;
    border-radius: 0.25em;
    background-color: white !important;
    color:#19616b !important;
    font-weight: bold !important;
    border: none !important;
    transition: none !important;
}

.signUp-content button:hover{
    background-color: orangered !important;
    color:white !important;
    font-weight: bold !important;
    border: none !important;
}

.signUp-container .p-invalid {
    border: none !important;
}

.error {
    margin: 0.5em 0 0 0.2em;
    color: orange;
}