.teaching-room-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #dcdcdc;
    height: 90vh;
    margin-top: 1vh;
}

.teaching-room-content button {
    border: none !important;
    box-shadow: none !important;
}

.teaching-room-content .left-div {
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.teaching-room-content .left-div > div:first-of-type {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.teaching-room-content .left-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .my-cam-div {
    width: 15vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .my-cam-div img {
    width: 6.75vw;
    height: 6.75vw;
    border-radius: 50%;
}

.teaching-room-content .left-div .my-cam-div video {
    width: 12vw;
    height: 6.75vw;
}

.teaching-room-content .left-div .my-cam-div .p-progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.75vw;
    height: 6.75vw;
    margin-bottom: -6.75vw;
}

.teaching-room-content .left-div .chat-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .p-datatable {
    width: 34vw;
    height: 30vw;
}

.teaching-room-content .left-div .p-datatable-thead {
    display: none !important
}

.teaching-room-content .left-div .message-content-td {
    width: 100%;
}

.teaching-room-content .left-div .profile-picture-td img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 0.5vw;
}

.teaching-room-content .left-div .p-datatable-tbody {
    height: 30vw;
    display: flex !important;
    flex-direction: column-reverse !important;
    overflow: auto;
    background-color: white;
}

.teaching-room-content .left-div .p-datatable-tbody td {
    border: none !important;
    padding: 0 !important
}

.teaching-room-content .left-div .my-message-td-content {
    background-color: midnightblue;
}

.teaching-room-content .left-div .other-message-td-content {
    background-color: orangered;
}

.teaching-room-content .left-div .message-content-td > div {
    margin-right: 1vw;
    margin-left: 1vw;
}

.teaching-room-content .left-div .message-content-td > div > p {
    display: inline-block;
    font-size: 2vh;
    padding: 1.5vh;
    color: white;
    border-radius: 1.7vh;
    overflow-wrap: anywhere;
}

.teaching-room-content .left-div .message-content-td > div i {
    font-size: 2vh;
}

.teaching-room-content .left-div .message-content-td > div  a {
    color: white;
    margin-left: 0.5vw;
}

.teaching-room-content .left-div .my-message-td-content p, .teaching-room-content .left-div .other-message-td-content p {
    margin: 0 1vw;
}

.teaching-room-content .left-div .time-td-content {
    font-size: 2vh;
    color: black;
    font-weight: bold;
    margin-right: 0.5vw;
}

.teaching-room-content .left-div .send-message-div {
    width: 34vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.teaching-room-content .left-div textarea {
    border: 0.2vw solid orangered !important;
    resize: none;
    font-size: 1vw;
    width: 27vw !important;
    height: 5vw !important;
}

.teaching-room-content textarea:hover {
    border: 0.2vw solid orangered !important;
    box-shadow: none !important;
}

.teaching-room-content textarea:focus {
    border: 0.2vw solid midnightblue !important;
    box-shadow: none !important;
}

.teaching-room-content .left-div .send-message-div button {
    width: 6vw !important;
    height: 4vw !important;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .right-div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 62vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teaching-room-content .right-div .exit {
    width: 100%;
    display: flex;
    justify-content: right;
}

.teaching-room-content .right-div .exit button {
    width: 8vw !important;
    height: 2vw !important;
    font-size: 1.2vw;
    margin-bottom: 1vh;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.teaching-room-content .right-div .other-cam-div {
    width: 60vw;
    height: 33.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .right-div .other-cam-div img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}

.teaching-room-content .right-div .other-cam-div video {
    max-width: 60vw;
    max-height: 33.75vw;
}

.teaching-room-content .right-div > div:last-of-type {
    width: 100%;
    display:flex;
    justify-content: left;
}

.teaching-room-content .right-div .file-upload {
    margin-left: 1vw;
    width: 30vw;
}

.teaching-room-content .right-div .file-upload >div >p {
    font-size: 1.2vw;
    font-weight: bold;
    margin: 0 0 1vh 0;
}
.teaching-room-content .right-div .file-upload >div >div:first-of-type {
    display:flex;
    align-items: center;
}

.teaching-room-content .right-div .file-upload>div >div:first-of-type button{
    width: 8vw !important;
    height: 2vw !important;
    font-size: 1.2vw;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.teaching-room-content .right-div .file-upload >div >div:first-of-type p {
    margin: 0 1vw;
    font-size: 1vw;
    width: 20vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.teaching-room-content .right-div .file-upload >div >div:last-of-type {
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
}
.teaching-room-content .right-div .file-upload >div >div:last-of-type button {
    margin: 0 0.5vh;
    width: 5vw !important;
    height: 2vw !important;
    font-size: 1vw;
    text-align:center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

