.teaching-room-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #7a7a7a;
    height: 92vh;
    margin-top: 1vh;
}

.teaching-room-content-hidden {
    display: none !important;
}

.teaching-room-content button {
    border: none !important;
    box-shadow: none !important;
}

.teaching-room-content .left-div {
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.teaching-room-content .left-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .my-cam-div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 34vw;
    height: 8vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0.3vh solid #212121;
    box-shadow: 0.1vh 0.5vh 0.5vh 0.4vh #212121;
    background-color: white;
}

.teaching-room-content .left-div .my-cam-div .media-div {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .my-cam-div .media-div img {
    width: 6.75vw;
    height: 6.75vw;
    border-radius: 50%;
}

.teaching-room-content .left-div .my-cam-div .media-div video {
    width: 12vw;
    height: 6.75vw;
}

.teaching-room-content .left-div .my-cam-div .buttons-div {
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .my-cam-div .buttons-div .on-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 6.75vw;
}

.teaching-room-content .left-div .my-cam-div .buttons-div button {
    width: 13vw;
    height: 3vw;
    font-size: 2vh;
}

.teaching-room-content .left-div .chat-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .left-div .chat-div {
    width: 34vw;
    border: 0.3vh solid #212121;
    box-shadow: 0.1vh 0.5vh 0.5vh 0.4vh #212121;
}

.teaching-room-content .left-div .p-datatable {
    width: 33vw;
    height: 30vw;
    margin-top: 1vh;
}

.teaching-room-content .left-div .p-datatable-thead {
    display: none !important
}

.teaching-room-content .left-div .message-content-td {
    width: 100%;
}

.teaching-room-content .left-div .profile-picture-td img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 0.5vw;
}

.teaching-room-content .left-div .p-datatable-tbody {
    height: 30vw;
    display: flex !important;
    flex-direction: column-reverse !important;
    overflow: auto;
    background-color: white;
}

.teaching-room-content .left-div .p-datatable-tbody td {
    border: none !important;
    padding: 0 !important
}

.teaching-room-content .left-div .my-message-td-content {
    background-color: midnightblue;
}

.teaching-room-content .left-div .other-message-td-content {
    background-color: orangered;
}

.teaching-room-content .left-div .message-content-td > div {
    margin-right: 1vw;
    margin-left: 1vw;
}

.teaching-room-content .left-div .message-content-td > div > p {
    display: inline-block;
    font-size: 2vh;
    padding: 1.5vh;
    color: white;
    border-radius: 1.7vh;
    overflow-wrap: anywhere;
}

.teaching-room-content .left-div .message-content-td > div i {
    font-size: 2vh;
}

.teaching-room-content .left-div .message-content-td > div a {
    color: white;
    margin-left: 0.5vw;
}

.teaching-room-content .left-div .my-message-td-content p, .teaching-room-content .left-div .other-message-td-content p {
    margin: 0 1vw;
}

.teaching-room-content .left-div .time-td-content {
    font-size: 2vh;
    color: black;
    font-weight: bold;
    margin-right: 0.5vw;
}

.teaching-room-content .left-div .send-message-div {
    width: 33vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1vh;
}

.teaching-room-content .left-div textarea {
    border: 0.2vw solid orangered !important;
    resize: none;
    font-size: 1vw;
    width: 26vw !important;
    height: 5vw !important;
}

.teaching-room-content textarea:hover {
    border: 0.2vw solid orangered !important;
    box-shadow: none !important;
}

.teaching-room-content textarea:focus {
    border: 0.2vw solid midnightblue !important;
    box-shadow: none !important;
}

.teaching-room-content .left-div .send-message-div button {
    width: 6vw !important;
    height: 4vw !important;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .right-div {
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 62vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.teaching-room-content .right-div .clock-and-exit-div {
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teaching-room-content .right-div .clock-and-exit-div > span:first-of-type {
    font-size: 1.5vw;
    background-color: #212121;
    color: white;
    padding: 0.2vw 2vw;
}

.teaching-room-content .right-div .clock-and-exit-div button {
    width: 8vw !important;
    height: 2.5vw !important;
    font-size: 1.5vw;
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.teaching-room-content .right-div .other-cam-div {
    width: 60vw;
    height: 33.75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3vh solid #212121;
    box-shadow: 0.1vh 0.5vh 0.5vh 0.4vh #212121;
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    background-color: white;
}

.teaching-room-content .right-div .other-cam-div img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}

.teaching-room-content .right-div .other-cam-div video {
    max-width: 58vw;
    max-height: 32vw;
}

.teaching-room-content .right-div .file-upload-div {
    width: 60vw;
    border: 0.3vh solid #212121;
    box-shadow: 0.1vh 0.5vh 0.5vh 0.4vh #212121;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 6vw;
    background-color: white;
}

.teaching-room-content .right-div .file-upload-div > p {
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0 0 1vh 1vh;
}

.teaching-room-content .right-div .file-upload-div > div, .teaching-room-content .right-div .file-upload-div > div > div {
    display: flex;
    align-items: center;
}

.teaching-room-content .right-div .file-upload-div .select-div p {
    margin: 0 1vw;
    font-size: 1vw;
    max-width: 32vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.teaching-room-content .right-div .file-upload-div button {
    height: 2.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaching-room-content .right-div .file-upload-div .action-div {
    width: 15vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.teaching-room-content .right-div .file-upload-div .action-div button {
    height: 2.5vw;
    width: 6vw;
    font-size: 1.2vw;
    margin-right: 0.3vw;
}

.teaching-room-content .right-div .file-upload-div .select-div button {
    margin-left: 1vh;
    font-size: 1.5vw;
    width: 10.5vw;
}


