.waiting-room-dialog {
    width: 85vw;
    height: 90vh;
    overflow: auto;
}

.waiting-room-dialog .p-dialog-header {
    width: 85vw !important;
    height: 10vh !important;
    margin: 0 !important;
    padding: 0 !important;
}

.waiting-room-dialog .p-dialog-header > div {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.waiting-room-dialog .p-dialog-header > div:first-of-type {
    margin-left: 1vw;
}

.waiting-room-dialog .p-dialog-title {
    font-size: 2vw !important;
}

.waiting-room-dialog .p-dialog-header-icon .pi {
    font-size: 2vw;
}

.waiting-room-dialog .p-dialog-header-icon {
    border: none !important;
    box-shadow: none !important;
    margin-right: 1vw !important;
    width: inherit !important;
    height: inherit !important;
}

.waiting-room-content {
    display: flex;
    justify-content: center;
}

.waiting-room-content > div {
    border: 0.1vw solid #19616b;
}

.waiting-room-content button {
    border: none !important;
    box-shadow: none !important;
}

.waiting-room-content > div:first-of-type {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.waiting-room-content > div:first-of-type > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

.waiting-room-content > div:first-of-type .camera-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38vw;
    height: 20vw;
}

.waiting-room-content > div:first-of-type .camera-div img {
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
}

.waiting-room-content > div:first-of-type .camera-div video {
    width: 35.5vw;
    height: 20vw;
}

.waiting-room-content > div:first-of-type .camera-div .p-progress-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 20vw;
    margin-bottom: -20vw;
}

.waiting-room-content > div:first-of-type .camera-button-div {
    margin-top: 2vh;
}

.waiting-room-content > div:first-of-type .camera-button-div .p-button {
    font-size: 1.5vw;
    width: 20vw;
}

.waiting-room-content > div:first-of-type .camera-button-div .pi-camera {
    margin-top: 0.5vh;
    font-size: 1.5vw;
}

.waiting-room-content > div:first-of-type .info {
    font-size: 2vh;
    margin: 1vw;
}

.waiting-room-content > div:first-of-type .action-button-div .p-button {
    font-size: 1.7vw;
    margin-bottom: 2vh;
    padding: 2vh 4vh;
}

.waiting-room-content .chat-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-room-content .p-datatable {
    width: 41vw;
    height: 30vw;
}

.waiting-room-content .p-datatable-thead {
    display: none !important
}

.waiting-room-content .profile-picture-td img {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-left: 0.5vw;
    margin-right: 1.5vw;
}

.waiting-room-content .p-datatable-tbody {
    height: 30vw;
    display: flex !important;
    flex-direction: column-reverse !important;
    overflow: auto;
}

.waiting-room-content .p-datatable-tbody td {
    border: none !important;
    padding: 0 !important
}

.waiting-room-content .my-message-td-content {
    background-color: midnightblue;
}

.waiting-room-content .other-message-td-content {
    background-color: orangered;
}

.waiting-room-content .content-td > div {
    margin-right: 1vw;
    margin-left: 1vw;
}
.waiting-room-content .profile-picture-td {
    margin-right: 2vw !important;
}

.waiting-room-content .message-content-td {
    width: 100%;
}

.waiting-room-content .message-content-td > div > p {
    display: inline-block;
    font-size: 2vh;
    padding: 1.5vh;
    color: white;
    border-radius: 1.7vh;
    overflow-wrap: anywhere;
}

.waiting-room-content .message-content-td > div i {
    font-size: 2vh;
}

.waiting-room-content .message-content-td > div  a {
    color: white;
    margin-left: 0.5vw;
}

.waiting-room-content .my-message-td-content p, .waiting-room-content .other-message-td-content p {
    margin: 0 1vw;
}

.waiting-room-content .time-td-content {
    font-size: 2vh;
    color: black;
    font-weight: bold;
    margin-right: 0.5vw;
    margin-left: 1.5vw;
}

.waiting-room-content .send-message-div {
    width: 41vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 3vh;
}

.waiting-room-content textarea {
    resize: none;
    font-size: 1vw;
    width: 30vw !important;
    height: 5vw !important;
    border: 0.2vw solid orangered;
}

.waiting-room-content textarea:hover {
    border: 0.2vw solid orangered !important;
    box-shadow: none !important;
}

.waiting-room-content textarea:focus {
    border: 0.2vw solid midnightblue !important;
    box-shadow: none !important;
}

.waiting-room-content .send-message-div button {
    border: none !important;
    box-shadow: none !important;
    width: 7vw !important;
    height: 4vw !important;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

