.waiting-room-dialog {
    width: 1200px;
    height: 820px;
    overflow: auto;
}

.waiting-room-dialog .p-dialog-header {
    display: flex;
    align-items: center;
}

.waiting-room-dialog .p-dialog-header-icon {
    border: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 30px !important
}

.waiting-room-dialog .p-dialog-header {
    text-align: center;
}

.waiting-room-content {
    display: flex;
    justify-content: space-around;
}

.waiting-room-content button {
    border: none !important;
    box-shadow: none !important;
}

.waiting-room-content > div:first-of-type {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waiting-room-content > div:first-of-type img {
    margin-top: 20px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.waiting-room-content > div:first-of-type p {
    font-size: 30px;
    color: orangered;
    font-weight: bold;
}

.waiting-room-content > div:first-of-type .p-button {
    font-size: 25px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.waiting-room-content > div {
    border: 1px solid #19616b;
}

.waiting-room-content .p-datatable {
    margin: 10px;
    width: 630px;
    height: 570px;
    /*overflow: auto;*/
}

.waiting-room-content .p-datatable-thead {
    display: none !important
}

.waiting-room-content td:first-of-type {
    width: 95%;
}

.waiting-room-content .p-datatable-tbody {
    height: 570px;
    display: flex !important;
    flex-direction: column-reverse !important;
    overflow: auto;
}

.waiting-room-content .p-datatable-tbody td {
    border: none !important;
    padding: 0 !important
}

.waiting-room-content .my-message-td-content {
    background-color: midnightblue;
}

.waiting-room-content .other-message-td-content {
    background-color: orangered;
}

.waiting-room-content td:first-of-type > div {
    margin-right: 30px;
}

.waiting-room-content td:first-of-type > div > p {
    display: inline-block;
    font-size: 20px;
    padding: 12px;
    color: white;
    border-radius: 17px;
}

.waiting-room-content .my-message-td-content p, .waiting-room-content .other-message-td-content p {
    margin: 0 5px;
}

.waiting-room-content .time-td-content {
    font-size: 20px;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

.waiting-room-content .send-message-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.waiting-room-content textarea {
    resize: none;
    font-size: 20px;
    width: 500px !important;
    height: 100px !important;
}

.waiting-room-content .send-message-div button {
    width: 17%;
    font-size: 23px;
}


