.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    background-color: white;
    margin: 5vh auto;
    border-radius: 1em;
    overflow: auto;
}

.sign-in-header {
    width: 80%;
    font-size: 7vh;
    margin: 2vh auto 0 auto;
    padding: 0.8vh 0;
    color: white;
    text-align: center;
    font-family: "Calibri, sans-serif", serif;
    background-color: #19616b;
    border-radius: 0.3em;
}

.sign-in-content-container {
    display: flex;
    justify-content: center;
    margin: 4vh auto;
    width: 90%;
    border-radius: 0.5em;
    box-shadow: 1px 3px 7px 3px #19616b;
    background-color: white;
}

.sign-in-content {
    background-color: #19616b;
    display: flex;
    margin: 2vh;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    width: 97%;
}

.sign-in-field {
    margin: 3vh 2vh;
}

.sign-in-field:first-of-type {
    margin-top: 4vh;
}

.sign-in-field-pw {
    margin-top: 0;
}

.sign-in-field span {
    width: 100%;
}

.sign-in-container .p-inputtext {
    width: 100%;
    font-size: 4vh !important;
    border: none;
    border-radius: 0.2em;
    box-shadow: none !important;
}

.sign-in-container .p-inputtext:focus {
    box-shadow: 0 0 1px 3px orangered !important;
}

.sign-in-container .p-invalid {
    border: none !important;
}

.sign-in-container .p-password {
    width: 100%;
}

.sign-in-content button {
    display: flex;
    justify-content: center;
    margin: 4vh auto;
    text-align: center !important;
    padding: 2vh 2vh;
    width: 50%;
    font-size: 4.5vh;
    border-radius: 0.25em;
    background-color: white !important;
    color: #19616b !important;
    font-weight: bold !important;
    border: none !important;
    transition: none !important;
}

.sign-in-content button:hover {
    background-color: orangered !important;
    color: white !important;
    font-weight: bold !important;
    border: none !important;
}

.sign-in-container .p-invalid {
    border: none !important;
}

.sign-in-error {
    margin: 1vh 0 0 1vh;
    color: orange;
    font-size: 3vh;
}