.p-dialog-mask {
    z-index: 1001 !important;
}

.p-toast-message-content {
    display: flex;
    align-items: center;
}

.p-toast-message-text {
    font-size: 25px;
}

.p-toast-icon-close {
    border: none !important;
    box-shadow: none !important;
}

.p-toast-icon-close-icon {
    font-size: 25px;
}