.form .card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40%;
    margin: 3% auto;
    background-color: #252525;
}

.form .card-name {
    text-align: center;
    color: #DEDEDE;
    font-size: 1.5em;
}

.form .card-name h1 {
    font-family: "Verdana", "Times New Roman", serif;
    color: white;
    text-decoration: underline;
    margin-bottom: 0;
}

.form .card-content {
    text-align: center;
    font-size: 1em;
    margin: 5%;
}

.form .card-field {
    margin-bottom: 1.5em;
}

.form .card-field-name {
    color: white;
    font-size: 1.2em;
    margin-bottom: 0.2em;
    margin-left: 0.2em;
    text-align: left;
}

.form .card-field-error {
    text-align: left;
    color: #ef9a9a;
    margin: 0.2em 0.2em;
}

.form .card-button {
    font-size: 1.5em;
    padding: 0.5em;
}

.form .card-auth-error {
    text-align: center;
    font-size: 1.5em;
    color: #ef9a9a;
    padding-top: 1em;
}

.form .student-button {
    margin-bottom: 1em;
}

.role-button-student {
    background-color: #FFB74D;
    color: black;
    opacity: 1 !important;
    border: none;
    font-family: "Verdana", "Times New Roman", serif;
    font-size: 1.4em;
    padding: 0.5em 1em;
}

.role-button-tutor {
    background-color: #BA68C8;
    color: black;
    opacity: 1 !important;
    border: none;
    font-family: "Verdana", "Times New Roman", serif;
    font-size: 1.4em;
    padding: 0.5em 1em;
}

@media screen and (max-width: 960px) {
    .form .card {
        max-width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .form .card {
        max-width: 80%;
    }
}